<main class="categories">
   <aside class="main-aside">
            <h3>Top News</h3>
            <div class="aside-article">
    <h5><a href="#/single-news/{{basketball2.uri}}">{{basketball2.title}}</a></h5>
    <img src="{{basketball2.img}}"/>
    <p>{{basketball2.content}}</p>
    </div>
    <div class="aside-article">
    <h5><a href="#/single-news/{{basketball5.uri}}">{{basketball5.title}}</a></h5>
    <img src="{{basketball5.img}}"/>
    <p>{{basketball5.content}}</p>
    </div>
    <div class="aside-article">
    <h5><a href="#/single-news/{{basketball6.uri}}">{{basketball6.title}}</a></h5>
    <img src="{{basketball6.img}}"/>
    <p>{{basketball6.content}}</p>
    </div>
    <div class="live-score">
               <iframe frameborder="0" width="300px" src="http://www.fiba.com/lsheader/index.html#12643" scrolling="no" border="0" ></iframe>
            </div>
        </aside>
    <article>
    <section class="main-content-article">
        <a href="#/single-news/{{basketball1.uri}}"><h3>{{basketball1.title}}</h3></a>
        <p class="main-article-subhead">BY {{basketball1.author}} &nbsp;&nbsp IN <a href="#/categories/{{basketball1.category}}">{{basketball1.category}}</a> &nbsp;&nbsp{{basketball1.date}}</p>
        <img src="{{basketball1.img}}">
        <p class="news-content">
        {{basketball1.content}}
        </p>
    <a  href="#/single-news/{{basketball1.uri}}" class="read-more-btn">READ MORE</a>
    </section>
    </article>
    <article>
    <section class="main-content-article">
        <a href="#/single-news/{{basketball4.uri}}"><h3>{{basketball4.title}}</h3></a>
        <p class="main-article-subhead">BY {{basketball4.author}} &nbsp;&nbsp IN <a href="#">{{basketball4.category}}</a> &nbsp;&nbsp{{basketball4.date}}</p>
        <img src="{{basketball4.img}}">
        <p class="news-content">
        {{basketball4.content}}
        </p>
    <a class="read-more-btn" href="#/single-news/{{basketball4.uri}}">READ MORE</a>
    </section>
    </article>
 <article>
    <section class="main-content-article">
        <a href="#/single-news/{{basketball3.uri}}"><h3>{{basketball3.title}}</h3></a>
        <p class="main-article-subhead">BY {{basketball3.author}} &nbsp;&nbsp IN <a href="#">{{basketball3.category}}</a> &nbsp;&nbsp  {{basketball3.date}}</p>
        <img src="{{basketball3.img}}">
        <p class="news-content">
        {{basketball3.content}}
        </p>
    <a class="read-more-btn" href="#/single-news/{{basketball3.uri}}">READ MORE</a>
    </section>
    </article>
    <ul class="pages">
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
    </ul>
</main>
