<main class="categories">
   <aside class="main-aside">
            <h3>Top News</h3>
            <div class="aside-article">
    <h5><a href="#/single-news/{{basketball2.uri}}">{{basketball2.title}}</a></h5>
    <img src="{{basketball2.img}}"/>
    <p>{{basketball2.content}}</p>
    </div>
    <div class="aside-article">
    <h5><a href="#/single-news/{{basketball4.uri}}">{{basketball4.title}}</a></h5>
    <img src="{{basketball4.img}}"/>
    <p>{{basketball5.content}}</p>
    </div>
    <div class="aside-article">
    <h5><a href="#/single-news/{{basketball6.uri}}">{{basketball6.title}}</a></h5>
    <img src="{{basketball6.img}}"/>
    <p>{{basketball6.content}}</p>
    </div>
    <div class="live-score">
               <iframe src="http://www.tablesleague.com/iframe?width=320&height=1050&font_name=Tahoma&position=1&font_size=12&team_link=1&link_color=404040&games=1&wins=0&draws=0&lost=0&goals=1&goals_against=1&gd=1&points=1&next=0&form=1&font_size=12&font_color=000000&bg_color=ffffff&header_font_color=FFFFFF&header_bg_color=a41010&bg_col=1fb9e4&font_color_col=FFFFFF&highlight=e3e3e3&hover=fff6bf&league_header=1&league=l_145&team=&timezone=2&language=2&team_flags=0" width="100%" frameborder="0" scrolling="no"></iframe>
            </div>
        </aside>
    <article>
    <section class="main-content-article">
        <a href="#/single-news/{{basketball1.uri}}"><h3>{{basketball1.title}}</h3></a>
        <p class="main-article-subhead">BY {{basketball1.author}} &nbsp;&nbsp IN <a href="#/categories/{{basketball1.category}}">{{basketball1.category}}</a> &nbsp;&nbsp{{basketball1.date}}</p>
        <img src="{{basketball1.img}}">
        <p class="news-content">
        {{basketball1.content}}
        </p>
    <a  href="#/single-news/{{basketball1.uri}}" class="read-more-btn">READ MORE</a>
    </section>
    </article>
    <article>
    <section class="main-content-article">
        <a href="#/single-news/{{basketball5.uri}}"><h3>{{basketball5.title}}</h3></a>
        <p class="main-article-subhead">BY {{basketball5.author}} &nbsp;&nbsp IN <a href="#">{{basketball5.category}}</a> &nbsp;&nbsp{{basketball5.date}}</p>
        <img src="{{basketball5.img}}">
        <p class="news-content">
        {{basketball5.content}}
        </p>
    <a class="read-more-btn" href="#/single-news/{{basketball5.uri}}">READ MORE</a>
    </section>
    </article>
 <article>
    <section class="main-content-article">
        <a href="#/single-news/{{basketball3.uri}}"><h3>{{basketball3.title}}</h3></a>
        <p class="main-article-subhead">BY {{basketball3.author}} &nbsp;&nbsp IN <a href="#">{{basketball3.category}}</a> &nbsp;&nbsp  {{basketball3.date}}</p>
        <img src="{{basketball3.img}}">
        <p class="news-content">
        {{basketball3.content}}
        </p>
    <a class="read-more-btn" href="#/single-news/{{basketball3.uri}}">READ MORE</a>
    </section>
    </article>
    <ul class="pages">
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
    </ul>
</main>
