<div id="main-news" class="row">
    <div class="news main-1">
        <a href="#/single-news/{{main1.uri}}"><img src={{main1.img}} class="main-image1">
        <h4 class="special-heading">{{main1.title}}<h4></a>
    </div>
    <div class="news main-2">
    <div class="main-2-1 main2-hoverable">
         <a href="#"><img src={{main2.img}} class="main-image2">
        <h4 class="spcial-heading-1">{{main2.title}}<h4></a>
    </div>
    <div class="main-2-1 main3-hoverable">
        <a href="#"><img src={{main3.img}} class="main-image3">
        <h4 class="spcial-heading-2">{{main3.title}}<h4></a>
    </div>
    </div>
    <div class="news aside">
        <a href="#"><img src="./../images/365.gif"></a>
        </div>
    </div>
<div class="live-news example1">
    <p><a href="#">Bookmakers change their prediction for Real Madrid - Barcelona mach after Lusi Suarez injury!</a></p>
</div>

<div id="sub-news">
<div class="sub-news-article">
    <h6>FOOTBALL</h6>
    <h5><a href="#">Real Madrid to make a move for Hazard this summer.Real Madrid to make a move for Hazard this summer.Real Madrid to make a move for Hazard this summer.</a></h5>
    <img src="./../images/sergio-ramos.jpg"/>
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam cursus. Morbi ut mi. Nullam enim leo, egestas id, condimentum at, laoreet mattis, massa. Sed eleifend nonummy diam. Praesent mauris ante, elementum et, bibendum at, posuere sit amet, nibh. Duis tincidunt lectus quis dui viverra vestibulum. Suspendisse vulputate aliquam dui. Nulla elementum dui ut augue.</p>
    <a href="#">READ MORE</a> <p class="date">10 February, 2017</p>
</div>
<div class="sub-news-article">
    <h6>FOOTBALL</h6>
    <h5><a href="#">Real Madrid to make a move for Hazard this summer.</a></h5>
    <img src="./../images/sergio-ramos.jpg"/>
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam cursus. Morbi ut mi. Nullam enim leo, egestas id, condimentum at, laoreet mattis, massa. Sed eleifend nonummy diam. Praesent mauris ante, elementum et, bibendum at, posuere sit amet, nibh. Duis tincidunt lectus quis dui viverra vestibulum. Suspendisse vulputate aliquam dui. Nulla elementum dui ut augue.</p>
    <a href="#">READ MORE</a> <p class="date">10 February, 2017</p>
</div>
<div class="sub-news-article">
    <h6>FOOTBALL</h6>
    <h5><a href="#">Real Madrid to make a move for Hazard this summer.</a></h5>
    <img src="./../images/sergio-ramos.jpg"/>
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam cursus. Morbi ut mi. Nullam enim leo, egestas id, condimentum at, laoreet mattis, massa. Sed eleifend nonummy diam. Praesent mauris ante, elementum et, bibendum at, posuere sit amet, nibh. Duis tincidunt lectus quis dui viverra vestibulum. Suspendisse vulputate aliquam dui. Nulla elementum dui ut augue.</p>
    <a href="#">READ MORE</a> <p class="date">10 February, 2017</p>
</div>
<div class="sub-news-article">
    <h6>FOOTBALL</h6>
    <h5><a href="#">Real Madrid to make a move for Hazard this summer.</a></h5>
    <img src="./../images/sergio-ramos.jpg"/>
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam cursus. Morbi ut mi. Nullam enim leo, egestas id, condimentum at, laoreet mattis, massa. Sed eleifend nonummy diam. Praesent mauris ante, elementum et, bibendum at, posuere sit amet, nibh. Duis tincidunt lectus quis dui viverra vestibulum. Suspendisse vulputate aliquam dui. Nulla elementum dui ut augue.</p>
    <a href="#">READ MORE</a> <p class="date">10 February, 2017</p>
</div>
</div>

<main>
    <aside class="main-aside">
            <h3>Top News</h3>
            <div class="aside-article">
    <h5><a href="#">Real Madrid to make a move for Hazard this summer.</a></h5>
    <img src="./../images/sergio-ramos.jpg"/>
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam cursus. Morbi ut mi. Nullam enim leo, egestas id, condimentum at, laoreet mattis, massa. Sed eleifend nonummy diam. Praesent mauris ante, elementum et, bibendum at, posuere sit amet, nibh. Duis tincidunt lectus quis dui viverra vestibulum. Suspendisse vulputate aliquam dui. Nulla elementum dui ut augue.</p>
    </div>
    <div class="aside-article">
    <h5><a href="#">Real Madrid to make a move for Hazard this summer.</a></h5>
    <img src="./../images/sergio-ramos.jpg"/>
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam cursus. Morbi ut mi. Nullam enim leo, egestas id, condimentum at, laoreet mattis, massa. Sed eleifend nonummy diam. Praesent mauris ante, elementum et, bibendum at, posuere sit amet, nibh. Duis tincidunt lectus quis dui viverra vestibulum. Suspendisse vulputate aliquam dui. Nulla elementum dui ut augue.</p>
    </div>
    <div class="aside-article">
    <h5><a href="#">Real Madrid to make a move for Hazard this summer.</a></h5>
    <img src="./../images/sergio-ramos.jpg"/>
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam cursus. Morbi ut mi. Nullam enim leo, egestas id, condimentum at, laoreet mattis, massa. Sed eleifend nonummy diam. Praesent mauris ante, elementum et, bibendum at, posuere sit amet, nibh. Duis tincidunt lectus quis dui viverra vestibulum. Suspendisse vulputate aliquam dui. Nulla elementum dui ut augue.</p>
    </div>
    <div class="live-score">
               <iframe src="http://www.tablesleague.com/iframe?width=320&height=1050&font_name=Tahoma&position=1&font_size=12&team_link=1&link_color=404040&games=1&wins=0&draws=0&lost=0&goals=1&goals_against=1&gd=1&points=1&next=0&form=1&font_size=12&font_color=000000&bg_color=ffffff&header_font_color=FFFFFF&header_bg_color=a41010&bg_col=1fb9e4&font_color_col=FFFFFF&highlight=e3e3e3&hover=fff6bf&league_header=1&league=l_145&team=&timezone=2&language=2&team_flags=0" width="100%" frameborder="0" scrolling="no"></iframe>
            </div>
        </aside>
    <article>
    <section class="main-content-article">
        <a href="#"><h3>Real Madrid boss Perez is ready to offer new five year deal to Sergio Ramos!Real Madrid boss Perez is ready to offer new five year deal to Sergio Ramos!</h3></a>
        <p class="main-article-subhead">BY RUMEN TSANOV &nbsp;&nbsp IN <a href="#">FOOTBALL</a> &nbsp;&nbsp  27 FEBRUARY 2017</p>
        <img src="./../images/sergio-ramos.jpg">
        <p class="news-content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam cursus. Morbi ut mi. Nullam enim leo, egestas id, condimentum at, laoreet mattis, massa. Sed eleifend nonummy diam. Praesent mauris ante, elementum et, bibendum at, posuere sit amet, nibh. Duis tincidunt lectus quis dui viverra vestibulum. Suspendisse vulputate aliquam dui. Nulla elementum dui ut augue. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam cursus. Morbi ut mi. Nullam enim leo, egestas id, condimentum at, laoreet mattis, massa. Sed eleifend nonummy diam. Praesent mauris ante, elementum et, bibendum at, posuere sit amet, nibh. Duis tincidunt lectus quis dui viverra vestibulum. Suspendisse vulputate aliquam dui. Nulla elementum dui ut augue.Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam cursus. Morbi ut mi. Nullam enim leo, egestas id, condimentum at, laoreet mattis, massa. Sed eleifend nonummy diam. Praesent mauris ante, elementum et, bibendum at, posuere sit amet, nibh. Duis tincidunt lectus quis dui viverra vestibulum. Suspendisse vulputate aliquam dui. Nulla elementum dui ut augue. </p>
    <a class="read-more-btn" href="#">READ MORE</a>
    </section>
    </article>
    <article>
    <section class="main-content-article">
        <a href="#"><h3>Real Madrid boss Perez is ready to offer new five year deal to Sergio Ramos!</h3></a>
        <p class="main-article-subhead">BY RUMEN TSANOV &nbsp;&nbsp IN <a href="#">FOOTBALL</a> &nbsp;&nbsp  27 FEBRUARY 2017</p>
        <img src="./../images/sergio-ramos.jpg">
        <p class="news-content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam cursus. Morbi ut mi. Nullam enim leo, egestas id, condimentum at, laoreet mattis, massa. Sed eleifend nonummy diam. Praesent mauris ante, elementum et, bibendum at, posuere sit amet, nibh. Duis tincidunt lectus quis dui viverra vestibulum. Suspendisse vulputate aliquam dui. Nulla elementum dui ut augue. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam cursus. Morbi ut mi. Nullam enim leo, egestas id, condimentum at, laoreet mattis, massa. Sed eleifend nonummy diam. Praesent mauris ante, elementum et, bibendum at, posuere sit amet, nibh. Duis tincidunt lectus quis dui viverra vestibulum. Suspendisse vulputate aliquam dui. Nulla elementum dui ut augue.Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam cursus. Morbi ut mi. Nullam enim leo, egestas id, condimentum at, laoreet mattis, massa. Sed eleifend nonummy diam. Praesent mauris ante, elementum et, bibendum at, posuere sit amet, nibh. Duis tincidunt lectus quis dui viverra vestibulum. Suspendisse vulputate aliquam dui. Nulla elementum dui ut augue. </p>
    <a class="read-more-btn" href="#">READ MORE</a>
    </section>
    </article>
    <ul class="pages">
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
    </ul>

</main>
