<div id="main-news" class="row">
    <div class="news main-1">
        <a href="#/single-news/{{main1.uri}}"><img src={{main1.img}} class="main-image1">
        <h4 class="special-heading">{{main1.title}}<h4></a>
    </div>
    <div class="news main-2">
    <div class="main-2-1 main2-hoverable">
         <a href="#/single-news/{{main2.uri}}"><img src={{main2.img}} class="main-image2">
        <h4 class="spcial-heading-1">{{main2.title}}<h4></a>
    </div>
    <div class="main-2-1 main3-hoverable">
        <a href="#/single-news/{{main3.uri}}"><img src={{main3.img}} class="main-image3">
        <h4 class="spcial-heading-2">{{main3.title}}<h4></a>
    </div>
    </div>
    <div class="news aside">
        <a href="#"><img src="./../images/365.gif"></a>
        </div>
    </div>
<div class="live-news example1">
    <p><a href="#/single-news/{{main4.uri}}">{{main4.title}} IN {{main4.category}}</a></p>
</div>

<div id="sub-news">
<div class="sub-news-article">
    <h6>{{main8.category}}</h6>
    <h5><a href="#/single-news/{{main8.uri}}">{{main8.title}}</a></h5>
    <img src="{{main8.img}}"/>
    <p>{{main8.content}}</p>
    <a href="#/single-news/{{main8.uri}}">READ MORE</a> <p class="date">{{main8.date}}</p>
</div>
<div class="sub-news-article">
    <h6>{{main5.category}}</h6>
    <h5><a href="#/single-news/{{main5.uri}}">{{main5.title}}</a></h5>
    <img src="{{main5.img}}"/>
    <p>{{main5.content}}</p>
    <a href="#/single-news/{{main5.uri}}">READ MORE</a> <p class="date">{{main5.data}}</p>
</div>
<div class="sub-news-article">
    <h6>{{main10.category}}</h6>
    <h5><a href="#/single-news/{{main10.uri}}">{{main10.title}}</a></h5>
    <img src="{{main10.img}}"/>
    <p>{{main10.content}}</p>
    <a href="#/single-news/{{main10.uri}}">READ MORE</a> <p class="date">{{main10.date}}</p>
</div>
<div class="sub-news-article">
    <h6>{{main11.category}}</h6>
    <h5><a href="#/single-news/{{main11.uri}}">{{main11.title}}</a></h5>
    <img src="{{main11.img}}"/>
    <p>{{main11.content}}</p>
    <a href="#/single-news/{{main11.uri}}">READ MORE</a> <p class="date">{{main11.date}}</p>
</div>
</div>

<main>
    <aside class="main-aside">
            <h3>Top News</h3>
            <div class="aside-article">
    <h5><a href="#/single-news/{{main6.uri}}">{{main6.title}}</a></h5>
    <img src="{{main6.img}}"/>
    <p>{{main6.content}}</p>
    </div>
    <div class="aside-article">
    <h5><a href="#/single-news/{{main7.uri}}">{{main7.title}}</a></h5>
    <img src="{{main7.img}}"/>
    <p>{{main7.content}}</p>
    </div>
    <div class="aside-article">
    <h5><a href="#/single-news/{{main9.uri}}">{{main9.title}}</a></h5>
    <img src="{{main9.img}}"/>
    <p>{{main9.content}}</p>
    </div>
    <div class="live-score">
               <iframe src="http://www.tablesleague.com/iframe?width=320&height=1050&font_name=Tahoma&position=1&font_size=12&team_link=1&link_color=404040&games=1&wins=0&draws=0&lost=0&goals=1&goals_against=1&gd=1&points=1&next=0&form=1&font_size=12&font_color=000000&bg_color=ffffff&header_font_color=FFFFFF&header_bg_color=a41010&bg_col=1fb9e4&font_color_col=FFFFFF&highlight=e3e3e3&hover=fff6bf&league_header=1&league=l_145&team=&timezone=2&language=2&team_flags=0" width="100%" frameborder="0" scrolling="no"></iframe>
            </div>
        </aside>
    <article>
    <section class="main-content-article">
        <a href="#/single-news/{{main12.uri}}"><h3>{{main12.title}}</h3></a>
        <p class="main-article-subhead">BY {{main12.author}} &nbsp;&nbsp IN <a href="#">{{main12.category}}</a> &nbsp;&nbsp{{main12.date}}</p>
        <img src="{{main12.img}}">
        <p class="news-content">{{main12.content}}</p>
    <a class="read-more-btn" href="#/single-news/{{main12.uri}}">READ MORE</a>
    </section>
    </article>
    <article>
    <section class="main-content-article">
        <a href="#/single-news/{{main13.uri}}"><h3>{{main13.title}}</h3></a>
        <p class="main-article-subhead">BY {{main15.author}} &nbsp;&nbsp IN <a href="#">{{main13.category}}</a> &nbsp;&nbsp{{main13.date}}</p>
        <img src="{{main13.img}}">
        <p class="news-content">{{main13.content}}</p>
    <a class="read-more-btn" href="#/single-news/{{main13.uri}}">READ MORE</a>
    </section>
    </article>
    <ul class="pages">
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
    </ul>

</main>
