<main class="single-news">
    <aside class="main-aside single-aside" style="margin-top: -20px">
            <h3>Top News</h3>
            <div class="aside-article">
    <h5><a href="#">Real Madrid to make a move for Hazard this summer.</a></h5>
    <img src="./../images/sergio-ramos.jpg"/>
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam cursus. Morbi ut mi. Nullam enim leo, egestas id, condimentum at, laoreet mattis, massa. Sed eleifend nonummy diam. Praesent mauris ante, elementum et, bibendum at, posuere sit amet, nibh. Duis tincidunt lectus quis dui viverra vestibulum. Suspendisse vulputate aliquam dui. Nulla elementum dui ut augue.</p>
    </div>
    <div class="aside-article">
    <h5><a href="#">Real Madrid to make a move for Hazard this summer.</a></h5>
    <img src="./../images/sergio-ramos.jpg"/>
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam cursus. Morbi ut mi. Nullam enim leo, egestas id, condimentum at, laoreet mattis, massa. Sed eleifend nonummy diam. Praesent mauris ante, elementum et, bibendum at, posuere sit amet, nibh. Duis tincidunt lectus quis dui viverra vestibulum. Suspendisse vulputate aliquam dui. Nulla elementum dui ut augue.</p>
    </div>
    <div class="aside-article">
    <h5><a href="#">Real Madrid to make a move for Hazard this summer.</a></h5>
    <img src="./../images/sergio-ramos.jpg"/>
    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nam cursus. Morbi ut mi. Nullam enim leo, egestas id, condimentum at, laoreet mattis, massa. Sed eleifend nonummy diam. Praesent mauris ante, elementum et, bibendum at, posuere sit amet, nibh. Duis tincidunt lectus quis dui viverra vestibulum. Suspendisse vulputate aliquam dui. Nulla elementum dui ut augue.</p>
    </div>
    <div class="live-score">
               <iframe src="http://www.tablesleague.com/iframe?width=320&height=1050&font_name=Tahoma&position=1&font_size=12&team_link=1&link_color=404040&games=1&wins=0&draws=0&lost=0&goals=1&goals_against=1&gd=1&points=1&next=0&form=1&font_size=12&font_color=000000&bg_color=ffffff&header_font_color=FFFFFF&header_bg_color=a41010&bg_col=1fb9e4&font_color_col=FFFFFF&highlight=e3e3e3&hover=fff6bf&league_header=1&league=l_145&team=&timezone=2&language=2&team_flags=0" width="100%" frameborder="0" scrolling="no"></iframe>
            </div>
    </aside>

    <article>
        <section class="single-news-article">
        <h3>{{this.title}}</h3>
        <p class="single-news-subhead">BY {{this.author}} &nbsp;&nbsp IN <a href="#/">{{this.category}}</a> &nbsp;&nbsp  {{this.date}}</p>
        <p class="single-news-content">
        <img src="{{this.img}}">
        {{this.content}}
        </p>
        {{#if this.videoURL}}
        <iframe width="92%" height="315" style="margin-left: 20px" src="{{this.videoURL}}">
        </iframe>
        {{/if}}
       </section>
    </article>
    <form class="comments-form">
    <h6 class="comments-head">Comments:</h6>
    {{#if this.comments}}
    {{#each this.comments}}
    <div class="comment">
        <h5>From: {{this.username}} </h5>
        <p>{{this.value}}</p>
    </div>
    {{/each}}
    {{/if}}
    <textarea id="comments-text" class="comments-area" placeholder="Enter your comment here!" name="comment"></textarea>
    <a href="#/comment" class="comments-buttton btn">Submit</a>
    </form>
</main>
