<main class="categories">
   <aside class="main-aside">
            <h3>Top News</h3>
            <div class="aside-article">
    <h5><a href="#/single-news/{{tennis4.uri}}">{{tennis4.title}}</a></h5>
    <img src="{{tennis4.img}}"/>
    <p>{{tennis4.content}}</p>
    </div>
    <div class="aside-article">
    <h5><a href="#/single-news/{{tennis5.uri}}">{{tennis5.title}}</a></h5>
    <img src="{{tennis5.img}}"/>
    <p>{{tennis5.content}}</p>
    </div>
    <div class="aside-article">
    <h5><a href="#/single-news/{{tennis6.uri}}">{{tennis6.title}}</a></h5>
    <img src="{{tennis6.img}}"/>
    <p>{{tennis6.content}}</p>
    </div>
    <div class="live-score">
               <iframe src="http://www.tablesleague.com/iframe?width=320&height=1050&font_name=Tahoma&position=1&font_size=12&team_link=1&link_color=404040&games=1&wins=0&draws=0&lost=0&goals=1&goals_against=1&gd=1&points=1&next=0&form=1&font_size=12&font_color=000000&bg_color=ffffff&header_font_color=FFFFFF&header_bg_color=a41010&bg_col=1fb9e4&font_color_col=FFFFFF&highlight=e3e3e3&hover=fff6bf&league_header=1&league=l_145&team=&timezone=2&language=2&team_flags=0" width="100%" frameborder="0" scrolling="no"></iframe>
            </div>
        </aside>
    <article>
    <section class="main-content-article">
        <a href="#/single-news/{{tennis1.uri}}"><h3>{{tennis1.title}}</h3></a>
        <p class="main-article-subhead">BY {{tennis1.author}} &nbsp;&nbsp IN <a href="#">{{tennis1.category}}</a> &nbsp;&nbsp{{tennis1.date}}</p>
        <div class="news-content">
        <img src="{{tennis1.img}}">
        {{tennis1.content}}
        </div>
    <a class="read-more-btn" href="#/single-news/{{tennis1.uri}}">READ MORE</a>
    </section>
    </article>
    <article>
    <section class="main-content-article">
        <a href="#/single-news/{{tennis2.uri}}"><h3>{{tennis2.title}}</h3></a>
        <p class="main-article-subhead">BY {{tennis2.author}} &nbsp;&nbsp IN <a href="#">{{tennis2.category}}</a> &nbsp;&nbsp {{tennis2.date}}</p>
        <div class="news-content">
        <img src="{{tennis2.img}}">
        {{tennis2.content}}
        </div>
    <a class="read-more-btn" href="#/single-news/{{tennis2.uri}}">READ MORE</a>
    </section>
    </article>
 <article>
    <section class="main-content-article">
        <a href="#/single-news/{{tennis3.uri}}"><h3>{{tennis3.title}}</h3></a>
        <p class="main-article-subhead">BY {{tennis3.author}} &nbsp;&nbsp IN <a href="#">{{tennis3.category}}</a> &nbsp;&nbsp {{tennis3.date}}</p>
        <div class="news-content">
        <img src="{{tennis3.img}}">
        {{tennis3.content}}
        </div>
    <a class="read-more-btn" href="#/single-news/{{tennis3.uri}}">READ MORE</a>
    </section>
    </article>
    <ul class="pages">
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
    </ul>
</main>
